/*cor de fundo da pagina*/
body{
    background-color: rebeccapurple;
}

/*div do orçamento*/
.div_prin{
    height: 280px;
    background-color: aqua;
    width: 400px;
    margin-left: 500px;
}

/*div com os resultados*/
.div_valores{
    height: 400px;
    background-color: aqua;
    width: 400px;
    margin-left: 500px;
}

/*div dos inputs*/
.div_inp{
    margin-left: 50px;   
}

/*faixa preta no titulo*/
.div_h3{
    background-color: black;
}

/*div do span*/
.div_resp{
    margin-left: 30px;       
}

/*div titulo 1*/
.h3_titu{
    color: rgb(255, 255, 255);
    margin-left: 150px;
}

/*div titulo 2*/
.h3_titu2{
    color: rgb(255, 255, 255);
    margin-left: 160px;
}

/*Botão calcular*/
.btn_cal{
    height: 30px;
    width: 200px;
    margin-left: 50px;
    background-color: rebeccapurple;
    color: white;
}

/*Botão calcular novamente*/
.btn_cal2{
    height: 30px;
    width: 200px;
    margin-left: 65px;
    background-color: rebeccapurple;
    color: white;
}

/*div da imagem com os planos*/
.div_pla{
    margin-left: 200px;
    display:  none;
}

/*Botão ver planos*/
.btn_planos{
    background-color: aqua;
    height: 30px;
    width: 100px;
}

/*Botão ocultar planos*/
.btn_ocult{
    display: none;
    background-color: aqua;
    height: 30px;
    width: 150px;
}


   